body {
  background-color: white;
  margin: 0;
}

a {
  color: black;
  font-family: sans-serif;
}

.nav ul {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0px
}

/* individual item */
.one-item {
  color: blue;
  border: solid 2px red;
  padding: 0;
  margin: 0;
}
.one-item > img {
  height: 100px;
}
.one-item > h1 {
  padding: 0;
  margin: 0;
}
.one-item > p {
  padding: 0;
  margin: 0;
}

/* CSS applies to 968px and above */
@media screen and (min-width: 968px) {
  .nav {
    display:flex;
    align-items: center;
    height: 4em;
    background-color: lightgray;
  }
  .nav ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    width: 100vw;
    justify-content: space-between;
  }

  .nav ul li {
    margin: 0 1em 0 1em
  }
  .nav ul li a {
    text-decoration: none;
  }
  .navRight {
    display: flex;
  }
  .navLeft {
    display: flex;
  }
}
