body {
  background-color: white;
  margin: 0;
}
.toggle-nav-on {
  display:block;
}
.toggle-nav {
  display:none;
}

a {
  color: black;
  font-family: sans-serif;
}

.nav ul {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0px;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
a {
  text-decoration: none;
}
/* all items container */
.all-items-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vp;
}
/* individual item */
.one-item {
  color: black;
  padding: 0;
  margin: 10px;
  height: 460px;
  width: 260px;
}
.one-item-image {
  height: 85%;
  width: 100%;
  background: lightgrey;
}
.one-item-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.one-item-text {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-family: 'Helvetica';
}
.one-item-text > h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  font-size: 25px;
  border-bottom: 2px black solid;
  width: 20%;
}
.one-item-text > p {
  padding: 0;
  margin-top: 5px;
  font-size: 80%;
  font-style: lighter;
}

@media (max-width: 968px) {
}

/* CSS applies to 968px and above */
@media screen and (min-width: 968px) {
  .toggle-nav {
    display:block;
  }
  .hideBurger {
    display: none;
  }
  #navItems {
    width:100%;
  }
  .nav {
    display: flex;
    align-items: center;
    height: 4em;
    background-color: lightgray;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: space-between;
  }

  .nav ul li {
    margin: 0 1em 0 1em;
  }
  .navRight {
    display: flex;
  }
  .navLeft {
    display: flex;
  }
}
